.notes-list {
    width: 80%;
    max-width: 1130px;
    height: 100%;
    margin-right: 50px;
 }

.notes-list-header {
    border-bottom: 1px solid #e8e8e8;
}

.notes-list-header-title {
    margin-left: 24px;
    padding: 15px 24px 15px 0;
    border-right: 1px solid #e8e8e8;
}

.notes-list-header-link {
    margin: 2px 18px;
    padding: 0 10px;
    border-radius: 4px;
}

.notes-list-header-add-text {
    margin: 5px 2px 5px 7px;
}

.btn-add-file {
    margin: 0;
    padding: 0;
    border: 0 solid #fff;
    background-color: #fff;
}

.notes-list-header-link:hover, .notes-list-header-link:hover .btn-add-file {
    color: #fff;
    background-color: #1890ff;
    border: 0 solid #1890ff;
}

.notes-list-header-link.focus, .notes-list-header-link:focus,
.notes-list-header-link.focus .btn-add-file, .notes-list-header-link:focus .btn-add-file {
    box-shadow: 0 0 0 .1rem rgba(24, 144, 255, .5)
}

.notes-list-empty {
    margin: 20px;
}
