.header-logo {
    color: #fff;
}

.header-nav-link {
    margin-left: 20px;
}

.header-nav-link:hover {
    color: #fff;
}

.custom-header-container {
}

.menu-btn-text {
    margin-left: 7px;
}

#components-dropdown-demo-dropdown-button > button > i > svg {
    padding-bottom: 2px;
}